{{!-- Footer --}}
<div class="footer">

	{{!-- Social Media Links --}}
	<ul class="social_links">
		<li><a href="https://github.com/MFauzanAP" target="_blank" rel="noreferrer"><i class="fa fa-github" style="font-size: 1.5em"></i></a></li>
		<li><a href="https://www.linkedin.com/in/muhammad-fauzan-aristya-putra" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" style="font-size: 1.5em"></i></a></li>
		<li><a href="mailto: muhammadfauzanaristyaputra@gmail.com"><i class="fa fa-envelope" style="font-size: 1.5em"></i></a></li>
	</ul>

	{{!-- Copyright --}}
	<div class="copyright">Copyright © 2021 | <a href="https://www.muhammadfauzan.me/" target="_blank" rel="noreferrer">Muhammad Fauzan</a></div>

</div>