{{!-- Modal --}}
<div class="modal">

	{{!-- Background --}}
	<div class="background">

		{{!-- Header --}}
		<div class="header">

			{{!-- Title --}}
			<div class="title">Title</div>

		</div>

		{{!-- Body --}}
		<div class="body">

			{{!-- Message --}}
			<div class="message">Message</div>

			{{!-- Text Area --}}
			<div class="fullscreen input">

				{{!-- Toolbar --}}
				<div class="toolbar">

					{{!-- Word Count --}}
					<div class="word_count">0 words</div>

				</div>

				{{!-- Text Area --}}
				<textarea id="essay_text" name="essay_text"></textarea>

			</div>

		</div>

		{{!-- Buttons --}}
		<div class="buttons">

			{{!-- Cancel --}}
			<button class="cancel"><i class="fa fa-times"></i>Cancel</button>

			{{!-- Confirm --}}
			<button class="confirm"><i class="fa fa-check"></i>Confirm</button>

			{{!-- Okay --}}
			<button class="okay"><i class="fa fa-check"></i>Okay</button>

		</div>

	</div>

</div>