{{!-- Navbar --}}
<div class="navbar">

	{{!-- Logo --}}
	<div class="logo_container"><button class="logo"><img src="/static/images/logo.svg"/></button></div>

	{{!-- Buttons --}}
	<div class="buttons">

		{{!-- Settings --}}
		<button class="settings"><i class="fa fa-cog"></i></button>

		{{!-- Settings --}}
		<button class="settings"><i class="fa fa-user-circle-o"></i></button>

	</div>

</div>