{{!-- Sidebar --}}
<div class="sidebar">

	{{!-- Form Link --}}
	<a class="link">Forms</a>

	{{!-- Converter Link --}}
        <a class="link">Converter</a>

	{{!-- Checklist Link --}}
        <a class="link"><i class="fa fa-clipboard-list"></i>Checklist</a>

</div>