{{!-- Sidebar --}}
<div class="sidebar">

	{{!-- Form Link --}}
	<a class="link" href='/'><i class="far fa-list-alt"></i>Essay</a>

	{{!-- Converter Link --}}
        <a class="link" href='/converter'><i class="fa fa-exchange-alt"></i>Converter</a>

	{{!-- Checklist Link --}}
        <a class="link" href='/checklist'><i class="far fa-check-circle"></i>Checklist</a>

</div>