{{!-- Toast --}}
<div class="toast">

	{{!-- Icon --}}
	<div class="icon"></div>

	{{!-- Description --}}
	<div class="description">

		{{!-- Title --}}
		<div class="title"></div>

		{{!-- Message --}}
		<div class="message"></div>

	</div>

</div>