<!doctype html>
<html lang="en">

	{{!-- Header Tag --}}
	<head>

		{{!-- Title --}}
		<title>Home | APA Formatter</title>
		
		{{!-- Meta Tags --}}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

                {{!-- Style --}}
		<link rel="stylesheet" href="/static/css/globals.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	</head>

	{{!-- Main Body --}}
	<body>
		
		{{!-- HTML Tags From View File --}}
		{{{body}}}

		{{!-- Navbar --}}
		{{> navbar}}

		{{!-- Sidebar --}}
		{{> sidebar}}

		{{!-- Footer --}}
		{{> footer}}

		{{!-- Modal --}}
		{{> modal}}

		{{!-- Toast --}}
		{{> toast}}

		{{!-- Scripts --}}
		<script src="/static/lottie/dist/lottie-player.js"></script>
		<script src="/static/jquery/dist/jquery.min.js"></script>
		<script src="/static/js/utilities/string.js"></script>
		<script src="/static/js/utilities/actions.js"></script>
		<script src="/static/js/utilities/toast.js"></script>
		<script src="/static/js/utilities/modal.js"></script>
		<script src="/static/js/profile/setup.js"></script>
		<script src="/static/js/profile/dropdown.js"></script>
		<script src="/static/js/settings/dropdown.js"></script>
		<script src="/static/js/settings/input.js"></script>
		<script src="/static/js/settings/form.js"></script>
		<script src="/static/js/form/converter.js"></script>
		<script src="/static/js/form/handlers.js"></script>
		<script src="/static/js/form/state.js"></script>
		<script src="/static/js/form/download.js"></script>
		<script src="/static/js/form/submissions.js"></script>
		<script src="/static/js/form/table_input.js"></script>
		<script src="/static/js/form/title_input.js"></script>
		<script src="/static/js/form/essay_input.js"></script>
		<script src="/static/js/form/form_input.js"></script>

	</body>

</html>