/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import sass math */
@use "sass:math";

/* Import media queries */
@use "./media.scss" as *;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* All Elements */
* {
	box-sizing		: border-box;
	font-family		: Oxygen;
}

/* Body */
body {
	padding			: 0;
	margin			: 0;

	scroll-behavior		: smooth;

	font-family		: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    				  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Banner */
.banner {
	width			: 100%;
	height			: 350px;

	background		: #F4F4F4;
}