{{!-- Dashboard --}}
<div class="dashboard">

	{{!-- Menu Bar --}}
	<div class="menu_bar">

		{{!-- Logo --}}
		<a href="/" class="logo_container"><button class="logo dropdown button"><img src="/static/images/logo.svg"/></button></a>

		{{!-- Tabs --}}
		<div class="tabs">

			{{!-- Background --}}
			<div class="background">

				{{!-- Top --}}
				<div class="top"></div>

				{{!-- Button --}}
				<div class="button"></div>

				{{!-- Bottom --}}
				<div class="bottom"></div>

			</div>

			{{!-- Profile --}}
			<button class="active profile tab">Profile</button>

			{{!-- Courses --}}
			<button class="courses tab">Courses</button>

			{{!-- Formats --}}
			<button class="formats tab">Formats</button>

			{{!-- Settings --}}
			<button class="settings tab">Settings</button>

		</div>

	</div>

	{{!-- Windows --}}
	<div class="windows">

		{{!-- Profile Window --}}
		<div class="active profile window">

			{{!-- Title --}}
			<div class="title">My Account<button class="edit"><i class="fa fa-edit"></i></button></div>

			{{!-- Underline --}}
			<div class="underline"></div>

			{{!-- Header --}}
			<div class="header">Profile</div>

			{{!-- Name --}}
			<div class="input">
				<input type="text" id="name" name="name" spellcheck="false" readonly required/>
				<label htmlFor="name">Full Name</label>
			</div>

			{{!-- Student ID --}}
			<div class="input">
				<input type="text" id="student_id" name="student_id" spellcheck="false" readonly required/>
				<label htmlFor="student_id">Student ID</label>
			</div>

			{{!-- Institution --}}
			<div class="input">
				<input type="text" id="institution" name="institution" spellcheck="false" readonly required/>
				<label htmlFor="institution">Institution</label>
			</div>

			{{!-- Header --}}
			<div class="header">Statistics</div>

			{{!-- Overlay --}}
			<div class="overlay">

				{{!-- Header --}}
				<div class="overlay_header">You have unsaved changes</div>

				{{!-- Buttons --}}
				<div class="overlay_buttons">

					{{!-- Discard --}}
					<button class="discard">Discard</button>

					{{!-- Confirm --}}
					<button class="confirm">Save Changes</button>

				</div>

			</div>

		</div>

		{{!-- Courses Window --}}
		<div class="courses window">

			{{!-- Course Dropdown --}}
			<div>Dropdown</div>

		</div>

		{{!-- Formats Window --}}
		<div class="formats window"></div>

		{{!-- Settings Window --}}
		<div class="settings window"></div>

	</div>

</div>