{{!-- Dashboard --}}
<div class="dashboard">

	{{!-- Menu Bar --}}
	<div class="menu_bar">

		{{!-- Logo --}}
		<a href="/" class="logo_container"><button class="logo dropdown button"><img src="/static/images/logo.svg"/></button></a>

		{{!-- Tabs --}}
		<div class="tabs">

			{{!-- Background --}}
			<div class="background">

				{{!-- Top --}}
				<div class="top"></div>

				{{!-- Button --}}
				<div class="button"></div>

				{{!-- Bottom --}}
				<div class="bottom"></div>

			</div>

			{{!-- Profile --}}
			<button class="active profile tab">Profile</button>

			{{!-- Courses --}}
			<button class="courses tab">Courses</button>

			{{!-- Formats --}}
			<button class="formats tab">Formats</button>

			{{!-- Settings --}}
			<button class="settings tab">Settings</button>

			{{!-- Statistics --}}
			<button class="statistics tab">Statistics</button>

		</div>

	</div>

	{{!-- Windows --}}
	<div class="windows">

		{{!-- Profile Window --}}
		<div class="profile window"></div>

		{{!-- Courses Window --}}
		<div class="courses window"></div>

		{{!-- Formats Window --}}
		<div class="formats window"></div>

		{{!-- Settings Window --}}
		<div class="settings window"></div>

		{{!-- Statistics Window --}}
		<div class="statistics window"></div>

	</div>

</div>