{{!-- Form Page --}}
<div class="form_page">

	{{!-- Banner --}}
	<div class="banner">

		{{!-- Curved Footer --}}
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
		</svg>

		{{!-- Title --}}
		<div class="title">APA Formatter</div>

		{{!-- Description --}}
		<div class="description">
			This tool was developed for students of Qatar University. Use by other parties is permitted,
			but not recommended.
		</div>

	</div>

	{{!-- Essay Input --}}
	<div class="essay_input">

		{{!-- Title --}}
		<div class="title_input">
			
			{{!-- Input --}}
			<input type="text" placeholder="Enter essay title here..." id="title" name="title" required="true"/>

			{{!-- Confirm Button --}}
			<div class="button">
				<i class="fa fa-check" style="font-size: 1.5em"></i>
				<p>Continue</p>
				<i class="fa fa-chevron-right" style="font-size: 1em; margin-left: 15px"></i>
			</div>

		</div>

		{{!-- Meta --}}
		<div class="meta">or click on one of the links above to switch modes</div>

	</div>

	{{!-- Essay Form --}}
	<div class="essay_form">

		{{!-- Stepper --}}
		<div class="stepper">

			{{!-- Details --}}
			<div class="step">1<i class="fa fa-check check"></i><div class="label">Details</div></div>

			{{!-- Vocabulary --}}
			<div class="step">2<i class="fa fa-check check"></i><div class="label">Vocabulary</div></div>

			{{!-- Essay --}}
			<div class="step">3<i class="fa fa-check check"></i><div class="label">Essay</div></div>

			{{!-- Formatting --}}
			<div class="step">4<i class="fa fa-check check"></i><div class="label">Formatting</div></div>

			{{!-- Download --}}
			<div class="step">5<i class="fa fa-check check"></i><div class="label">Download</div></div>

		</div>

		{{!-- Details --}}
		<div class="details">

			{{!-- Title --}}
			<div class="title">Fill In Your Essay Details</div>

			{{!-- Form --}}
			<form class="form">

				{{!-- Title Input --}}
				<div class="input" style="grid-column: span 4;">
					<input type="text" id="title" name="title" required/>
					<label htmlFor="title">Title*</label>
				</div>

				{{!-- Date --}}
				<div class="input date" style="grid-column: span 2;">
					<input type="date" id="date" name="date" required/>
					<label htmlFor="date">Date*</label>
				</div>

				{{!-- Student Name --}}
				<div class="input" style="grid-column: span 3;">
					<input type="text" id="student_name" name="student_name" required/>
					<label htmlFor="student_name">Student Name*</label>
				</div>

				{{!-- Lecturer Name --}}
				<div class="input" style="grid-column: span 3;">
					<input type="text" id="lecturer_name" name="lecturer_name" required/>
					<label htmlFor="lecturer_name">Lecturer Name*</label>
				</div>

				{{!-- Student ID --}}
				<div class="input" style="grid-column: span 3;">
					<input type="text" id="student_id" name="student_id" required/>
					<label htmlFor="student_id">Student ID*</label>
				</div>

				{{!-- Course Number --}}
				<div class="input" style="grid-column: span 3;">
					<input type="text" id="course_number" name="course_number" required/>
					<label htmlFor="course_number">Course Number*</label>
				</div>

			</form>

			{{!-- Controls --}}
			<div class="controls">

				{{!-- Back Button --}}
				<button class="back"><i class="fa fa-arrow-left"></i></button>

				{{!-- Continue Button --}}
				<button class="continue">Continue</button>

			</div>

		</div>

		{{!-- Vocabulary --}}
		<div class="vocabulary">

			{{!-- Title --}}
			<div class="title">Add Vocabulary List</div>

			{{!-- Meta --}}
			<div class="meta">This step may be unnecessary for you, feel free to skip it.</div>

			{{!-- Text Area --}}
			<div class="input">
				<textarea id="vocab_list" name="vocab_list"></textarea>
			</div>

			{{!-- Controls --}}
			<div class="controls">

				{{!-- Back Button --}}
				<button class="back"><i class="fa fa-arrow-left"></i></button>

				{{!-- Continue Button --}}
				<button class="continue">Continue</button>

			</div>

		</div>

		{{!-- Essay --}}
		<div class="essay">

			{{!-- Title --}}
			<div class="title">Copy Paste Your Essay Here</div>

			{{!-- Meta --}}
			<div class="meta">
				Please refrain from pasting the entire essay document here. Instead, copy only the essay text
				and paste in the box below.
			</div>

			{{!-- Text Area --}}
			<div class="input">
				<textarea id="essay_text" name="essay_text"></textarea>
			</div>

			{{!-- Controls --}}
			<div class="controls">

				{{!-- Back Button --}}
				<button class="back"><i class="fa fa-arrow-left"></i></button>

				{{!-- Continue Button --}}
				<button class="continue">Continue</button>

			</div>

		</div>

		{{!-- Formatting --}}
		<div class="formatting">

			{{!-- Loader --}}
			<lottie-player src="/static/animations/loader.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>

			{{!-- Text --}}
			<div class="text">Formatting essay, hold on...</div>

		</div>

	</div>

</div>