/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Import sass selector */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@use "sass:selector";
/* Import sass math */
@use "sass:math";
/* Import media queries */
@use "./media.scss" as *;
/* Import fonts */
/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Primary Colors */
/* Secondary Colors */
/* Tertiary Colors */
/* Quaternary Colors */
/* Toast Colors */
/* Modal Colors */
/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */
/* All Elements */
* {
  box-sizing: border-box;
  font-family: Oxygen; }

/* ====================================================== Body ====================================================== */
body {
  position: relative;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* Fixed */
  /* Buttons */
  /* Shake */ }
  body.fixed {
    overflow-y: hidden; }
  body button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #0099FF;
    border: none;
    border-radius: 25px;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* Hover */ }
    body button:hover {
      background: #0085DD;
      transform: scale(1.05); }
  body .shake {
    animation: shake 0.5s infinite; }

/* ===================================================== Navbar ===================================================== */
.navbar {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 10;
  /* Logo Container */
  /* Buttons */ }
  .navbar .logo_container {
    position: absolute;
    top: 25px;
    left: 200px;
    /* Logo */ }
    .navbar .logo_container .logo {
      width: 75px;
      height: 75px;
      margin: 25px;
      background: transparent;
      box-shadow: none;
      /* Hover */
      /* Image */ }
      .navbar .logo_container .logo:hover {
        /* Image */ }
        .navbar .logo_container .logo:hover img {
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4)); }
      .navbar .logo_container .logo img {
        width: 75px;
        height: 75px;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15)); }
  .navbar .buttons {
    position: absolute;
    top: 25px;
    right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    /*Dropdown Button */
    /* Menu */ }
    .navbar .buttons .dropdown.button {
      width: 50px;
      height: 50px;
      margin: 25px;
      background: transparent;
      box-shadow: none;
      /* Hover */
      /* Icon */ }
      .navbar .buttons .dropdown.button:hover {
        background: transparent;
        /* Icon */ }
        .navbar .buttons .dropdown.button:hover i {
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4)); }
      .navbar .buttons .dropdown.button i {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15)); }
    .navbar .buttons .menu {
      position: absolute;
      top: 100px;
      right: -50px;
      width: 380px;
      height: 520px;
      background: #FFFFFF;
      border-radius: 25px;
      font-size: 0.5em;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      /* Active */
      /* Arrow */
      /* Student Details */
      /* Links */
      /* Footer */ }
      .navbar .buttons .menu.active {
        transform: scaleY(1);
        /* Arrow */
        /* Student Details */
        /* Links */
        /* Footer */ }
        .navbar .buttons .menu.active::before {
          transform: scaleY(1); }
        .navbar .buttons .menu.active .student_details {
          opacity: 1;
          transition: 0.25s ease-in-out 0.25s; }
        .navbar .buttons .menu.active .links {
          /* Link */ }
          .navbar .buttons .menu.active .links .link {
            opacity: 1; }
          .navbar .buttons .menu.active .links .link:nth-of-type(1) {
            transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s ease-in-out 0.25s; }
          .navbar .buttons .menu.active .links .link:nth-of-type(2) {
            transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s ease-in-out 0.5s; }
          .navbar .buttons .menu.active .links .link:nth-of-type(3) {
            transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s ease-in-out 0.75s; }
          .navbar .buttons .menu.active .links .link:nth-of-type(4) {
            transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s ease-in-out 1s; }
        .navbar .buttons .menu.active .footer {
          opacity: 1;
          transition: 0.5s ease-in-out 0.25s; }
      .navbar .buttons .menu::before {
        position: absolute;
        top: -10px;
        right: 85px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17.5px 20px 17.5px;
        border-color: transparent transparent #FFFFFF transparent;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
        content: ''; }
      .navbar .buttons .menu .student_details {
        margin: 25px;
        margin-bottom: 10px;
        padding: 25px 10px;
        border-bottom: 1px solid #EFEFEF;
        opacity: 0;
        /* ID */
        /* Name */
        /* Institution */ }
        .navbar .buttons .menu .student_details .id {
          color: #646464;
          font-size: 1em; }
        .navbar .buttons .menu .student_details .name {
          color: #3D3D3D;
          font-family: Work Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 1.15em; }
        .navbar .buttons .menu .student_details .institution {
          color: #646464;
          font-size: 1em; }
      .navbar .buttons .menu .links {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* Link */ }
        .navbar .buttons .menu .links .link {
          cursor: pointer;
          width: 100%;
          height: 50px;
          margin: 6.5px 0;
          padding: 15px 25px;
          color: #3D3D3D;
          background: #FFFFFF;
          border-radius: 25px;
          font-family: Work Sans;
          font-weight: 600;
          opacity: 0;
          transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
          /* Hover */
          /* Profile */
          /* Icon */ }
          .navbar .buttons .menu .links .link:hover {
            background: #F5F5F5;
            transform: scale(1.05); }
          .navbar .buttons .menu .links .link.profile {
            color: #FFFFFF;
            background: #0099FF;
            /* Hover */ }
            .navbar .buttons .menu .links .link.profile:hover {
              background: #0085DD; }
          .navbar .buttons .menu .links .link i {
            margin-right: 10px;
            font-size: 1.25em; }
      .navbar .buttons .menu .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        opacity: 0;
        background: #F5F5F5;
        border-radius: 0 0 25px 25px;
        /* Log Out */ }
        .navbar .buttons .menu .footer .logout {
          position: absolute;
          right: 25px;
          width: 90px;
          height: 30px;
          color: #646464;
          background: transparent;
          font-size: 0.9em;
          font-weight: 600;
          box-shadow: none;
          /* Hover */
          /* Icon */ }
          .navbar .buttons .menu .footer .logout:hover {
            background: transparent; }
          .navbar .buttons .menu .footer .logout i {
            margin-right: 5px;
            font-size: 1.25em; }

/* ==================================================== Form Page =================================================== */
.form_page {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.25s ease-in-out;
  /* Details Stage */
  /* Vocabulary Stage */
  /* Essay Stage */
  /* Formatting Stage */
  /* Download Stage */
  /* Banner */
  /* Essay Input */
  /* Essay Form */ }
  .form_page.details {
    /* Banner */
    /* Essay Input */
    /* Essay Form */ }
    .form_page.details .banner {
      transform: translateY(-35vh);
      /* Title */
      /* Description */ }
      .form_page.details .banner .title {
        opacity: 0;
        transform: translateY(-25vh); }
      .form_page.details .banner .description {
        opacity: 0;
        transform: translateY(-25vh); }
    .form_page.details .essay_input {
      opacity: 0;
      transform: translateY(-60vh);
      /* Submit Button */ }
      .form_page.details .essay_input .button {
        flex: 0 0 0 !important;
        padding: 0 !important;
        opacity: 0 !important; }
    .form_page.details .essay_form {
      pointer-events: all;
      opacity: 1;
      transition: 0.25s ease-in-out 0.5s; }
  .form_page.vocabulary {
    /* Banner */
    /* Essay Input */
    /* Essay Form */ }
    .form_page.vocabulary .banner {
      transform: translateY(-35vh);
      /* Title */
      /* Description */ }
      .form_page.vocabulary .banner .title {
        opacity: 0;
        transform: translateY(-25vh); }
      .form_page.vocabulary .banner .description {
        opacity: 0;
        transform: translateY(-25vh); }
    .form_page.vocabulary .essay_input {
      opacity: 0;
      transform: translateY(-60vh);
      /* Submit Button */ }
      .form_page.vocabulary .essay_input .button {
        flex: 0 0 0 !important;
        padding: 0 !important;
        opacity: 0 !important; }
    .form_page.vocabulary .essay_form {
      pointer-events: all;
      opacity: 1;
      transition: 0.25s ease-in-out 0.5s; }
  .form_page.essay {
    /* Banner */
    /* Essay Input */
    /* Essay Form */ }
    .form_page.essay .banner {
      transform: translateY(-35vh);
      /* Title */
      /* Description */ }
      .form_page.essay .banner .title {
        opacity: 0;
        transform: translateY(-25vh); }
      .form_page.essay .banner .description {
        opacity: 0;
        transform: translateY(-25vh); }
    .form_page.essay .essay_input {
      opacity: 0;
      transform: translateY(-60vh);
      /* Submit Button */ }
      .form_page.essay .essay_input .button {
        flex: 0 0 0 !important;
        padding: 0 !important;
        opacity: 0 !important; }
    .form_page.essay .essay_form {
      pointer-events: all;
      opacity: 1;
      transition: 0.25s ease-in-out 0.5s; }
  .form_page.formatting {
    /* Banner */
    /* Essay Input */
    /* Essay Form */ }
    .form_page.formatting .banner {
      transform: translateY(-35vh);
      /* Title */
      /* Description */ }
      .form_page.formatting .banner .title {
        opacity: 0;
        transform: translateY(-25vh); }
      .form_page.formatting .banner .description {
        opacity: 0;
        transform: translateY(-25vh); }
    .form_page.formatting .essay_input {
      opacity: 0;
      transform: translateY(-60vh);
      /* Submit Button */ }
      .form_page.formatting .essay_input .button {
        flex: 0 0 0 !important;
        padding: 0 !important;
        opacity: 0 !important; }
    .form_page.formatting .essay_form {
      pointer-events: all;
      opacity: 1;
      transition: 0.25s ease-in-out 0.5s; }
  .form_page.download {
    /* Banner */
    /* Essay Input */
    /* Essay Form */ }
    .form_page.download .banner {
      transform: translateY(-35vh);
      /* Title */
      /* Description */ }
      .form_page.download .banner .title {
        opacity: 0;
        transform: translateY(-25vh); }
      .form_page.download .banner .description {
        opacity: 0;
        transform: translateY(-25vh); }
    .form_page.download .essay_input {
      opacity: 0;
      transform: translateY(-60vh);
      /* Submit Button */ }
      .form_page.download .essay_input .button {
        flex: 0 0 0 !important;
        padding: 0 !important;
        opacity: 0 !important; }
    .form_page.download .essay_form {
      pointer-events: all;
      opacity: 1;
      transition: 0.25s ease-in-out 0.5s; }
  .form_page .banner {
    position: relative;
    width: 100%;
    height: 40vh;
    padding-top: 50px;
    background: #0099FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.75s ease-in-out;
    /* Curved Footer */
    /* Title */
    /* Description */ }
    .form_page .banner svg {
      position: absolute;
      top: calc(100% - 1px);
      transform: scaleX(-1);
      z-index: -1;
      /* Path */ }
      .form_page .banner svg path {
        fill: #0099FF; }
    .form_page .banner .title {
      margin: 20px 0;
      color: #FFFFFF;
      font-family: Work Sans;
      font-weight: 800;
      font-size: 2.5em;
      text-align: center;
      transition: 1s ease-in-out; }
    .form_page .banner .description {
      max-width: 500px;
      color: #FFFFFF;
      text-align: center;
      transition: 1s ease-in-out; }
  .form_page .essay_input {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    /* Title Input */
    /* Meta */ }
    .form_page .essay_input .title_input {
      width: 750px;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* Input */
      /* Button */ }
      .form_page .essay_input .title_input input {
        flex: 0 1 100%;
        height: 100%;
        margin-right: 10px;
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: 30px;
        font-size: 1em;
        -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
        /* Hover */
        /* Focus */
        /* Autofill */ }
        .form_page .essay_input .title_input input:hover {
          transform: scale(1.01); }
        .form_page .essay_input .title_input input:focus, .form_page .essay_input .title_input input:not(:focus):valid {
          outline: none; }
        .form_page .essay_input .title_input input:-webkit-autofill, .form_page .essay_input .title_input input:-webkit-autofill:hover, .form_page .essay_input .title_input input:-webkit-autofill:focus, .form_page .essay_input .title_input input:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px white inset, 0 0 25px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0 0 0 30px white inset, 0 0 25px rgba(0, 0, 0, 0.25) !important; }
      .form_page .essay_input .title_input .button {
        cursor: pointer;
        flex: 0 0 60px;
        height: 60px;
        padding: 16px;
        background: #39d1ff;
        color: #FFFFFF;
        border: none;
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1em;
        -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        /* Hover */
        /* Icons */
        /* Text */ }
        .form_page .essay_input .title_input .button:hover {
          flex: 0 0 135px;
          /* Check Icon */
          /* Text */ }
          .form_page .essay_input .title_input .button:hover i:nth-of-type(1) {
            margin-left: -60px;
            margin-right: 35px; }
          .form_page .essay_input .title_input .button:hover p {
            opacity: 1; }
        .form_page .essay_input .title_input .button i {
          transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }
        .form_page .essay_input .title_input .button p {
          margin-left: 5px;
          opacity: 0;
          font-family: Work Sans;
          font-weight: 600; }
    .form_page .essay_input .meta {
      margin-top: 25px;
      color: #646464;
      text-align: center; }
  .form_page .essay_form {
    pointer-events: none;
    position: relative;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transform: translateY(-20vh);
    transition: 0.25s ease-in-out;
    /* Stepper */
    /* Title */
    /* Meta */
    /* Stage */
    /* Details */
    /* Vocabulary */
    /* Essay */
    /* Formatting */
    /* Download */
    /* Controls */ }
    .form_page .essay_form .stepper {
      width: 750px;
      height: 2px;
      margin-top: -50px;
      margin-bottom: 100px;
      background-image: linear-gradient(to right, #0099FF, #0099FF 50%, #CCCCCC 50%, #CCCCCC);
      background-size: 200% 100%;
      background-position-x: 100%;
      border-radius: 1px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: 1s ease-in-out;
      /* Step */ }
      .form_page .essay_form .stepper .step {
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;
        overflow: visible;
        background: #FFFFFF;
        color: #646464;
        border: 2px solid #CCCCCC;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Work Sans;
        font-weight: bold;
        box-shadow: 0 0 0 10px #FFFFFF;
        transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        /* Hover */
        /* In Progress */
        /* Done */
        /* Check */
        /* Label */ }
        .form_page .essay_form .stepper .step:hover {
          color: #FFFFFF !important;
          background: #0099FF !important;
          border: none;
          transform: scale(1.1); }
        .form_page .essay_form .stepper .step.in_progress {
          color: #0099FF;
          border: 3px solid #0099FF; }
        .form_page .essay_form .stepper .step.done {
          color: #0099FF !important;
          background: #0099FF;
          border: none;
          /* Check */ }
          .form_page .essay_form .stepper .step.done .check {
            transform: scale(1); }
        .form_page .essay_form .stepper .step .check {
          position: absolute;
          color: #FFFFFF;
          transform: scale(0);
          transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
        .form_page .essay_form .stepper .step .label {
          position: absolute;
          top: calc(100% + 10px);
          color: #646464;
          font-family: Oxygen;
          font-weight: normal; }
    .form_page .essay_form .title {
      margin-bottom: 75px;
      color: #3D3D3D;
      font-family: Work Sans;
      font-weight: bold;
      font-size: 2em; }
    .form_page .essay_form .meta {
      margin-bottom: 65px;
      color: #AAAAAA;
      text-align: center; }
    .form_page .essay_form .stage {
      pointer-events: none;
      position: absolute;
      max-height: 100%;
      width: 100%;
      overflow: hidden;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      opacity: 0;
      transition: 0.5s ease-in-out, margin-top 0s linear, max-height 0s linear 0.5s;
      /* Active */
      /* Left */
      /* Right */ }
      .form_page .essay_form .stage.active {
        pointer-events: all;
        position: relative;
        overflow: visible;
        margin-top: 0;
        opacity: 1; }
      .form_page .essay_form .stage.left {
        pointer-events: none;
        max-height: 0;
        transform: translate(-50vw);
        opacity: 0; }
      .form_page .essay_form .stage.right {
        pointer-events: none;
        max-height: 0;
        transform: translate(50vw);
        opacity: 0; }
    .form_page .essay_form .details {
      /* Form */ }
      .form_page .essay_form .details form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: row;
        gap: 30px;
        /* Input */ }
        .form_page .essay_form .details form .input {
          position: relative;
          margin-bottom: 20px;
          background: transparent;
          /* Hover */
          /* Date */
          /* Input Element */
          /* Label */ }
          .form_page .essay_form .details form .input:hover {
            /* Input Element */
            /* Label */ }
            .form_page .essay_form .details form .input:hover input {
              border: none;
              border-bottom: 1px solid #0099FF;
              color: #3D3D3D; }
            .form_page .essay_form .details form .input:hover label {
              color: #0099FF;
              top: -2.5rem;
              font-size: 0.8rem;
              font-weight: 500; }
          .form_page .essay_form .details form .input.date {
            cursor: text;
            /* Input Element */
            /* Label */ }
            .form_page .essay_form .details form .input.date input {
              cursor: text; }
            .form_page .essay_form .details form .input.date label {
              top: -2.5rem;
              font-size: 0.8rem;
              font-weight: 500; }
          .form_page .essay_form .details form .input input {
            width: 100%;
            padding: 1rem 1.5rem;
            background: transparent;
            color: #3D3D3D;
            border: none;
            border-bottom: 1px solid #AAAAAA;
            font-size: 1rem;
            font-family: Lato;
            letter-spacing: 0.03em;
            text-rendering: optimizeLegibility;
            outline: none;
            transition: 0.15s cubic-bezier(0.34, -0.39, 0.68, 1.38) 0s;
            /* Focus */
            /* Autofill */ }
            .form_page .essay_form .details form .input input:focus, .form_page .essay_form .details form .input input:not(:focus):valid {
              border: none;
              border-bottom: 1px solid #0099FF;
              /* Label */ }
              .form_page .essay_form .details form .input input:focus ~ label, .form_page .essay_form .details form .input input:not(:focus):valid ~ label {
                color: #0099FF;
                top: -2.5rem;
                font-size: 0.8rem;
                font-weight: 500; }
            .form_page .essay_form .details form .input input:-webkit-autofill, .form_page .essay_form .details form .input input:-webkit-autofill:hover, .form_page .essay_form .details form .input input:-webkit-autofill:focus, .form_page .essay_form .details form .input input:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px white inset !important;
              box-shadow: 0 0 0 30px white inset !important; }
          .form_page .essay_form .details form .input label {
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            margin: 1rem 1.5rem;
            color: #AAAAAA;
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            transition: 0.15s cubic-bezier(0.34, -0.39, 0.68, 1.38) 0s; }
    .form_page .essay_form .vocabulary {
      /* Title */
      /* Input */ }
      .form_page .essay_form .vocabulary .title {
        margin-bottom: 10px; }
      .form_page .essay_form .vocabulary .input {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        background: transparent;
        /* Text Area Element */
        /* Length Indicator */ }
        .form_page .essay_form .vocabulary .input textarea {
          width: 100%;
          height: 300px;
          padding: 1rem 1.5rem;
          background: transparent;
          color: #3D3D3D;
          border: 1px solid #AAAAAA;
          border-radius: 10px;
          font-size: 1rem;
          font-family: Lato;
          letter-spacing: 0.03em;
          text-rendering: optimizeLegibility;
          outline: none;
          resize: none;
          transition: 0.15s cubic-bezier(0.34, -0.39, 0.68, 1.38) 0s;
          /* Hover */
          /* Focus */
          /* Autofill */
          /* Placeholder */ }
          .form_page .essay_form .vocabulary .input textarea:hover {
            border: 2px solid #0099FF; }
          .form_page .essay_form .vocabulary .input textarea:focus, .form_page .essay_form .vocabulary .input textarea:not(:focus):valid {
            /* Label */ }
            .form_page .essay_form .vocabulary .input textarea:focus ~ label, .form_page .essay_form .vocabulary .input textarea:not(:focus):valid ~ label {
              color: #3D3D3D;
              top: -2.5rem;
              font-size: 0.8rem;
              font-weight: 500; }
          .form_page .essay_form .vocabulary .input textarea:-webkit-autofill, .form_page .essay_form .vocabulary .input textarea:-webkit-autofill:hover, .form_page .essay_form .vocabulary .input textarea:-webkit-autofill:focus, .form_page .essay_form .vocabulary .input textarea:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important; }
          .form_page .essay_form .vocabulary .input textarea::placeholder {
            color: #AAAAAA; }
        .form_page .essay_form .vocabulary .input .length_indicator {
          float: right;
          color: #AAAAAA; }
    .form_page .essay_form .essay {
      /* Title */
      /* Input */ }
      .form_page .essay_form .essay .title {
        margin-bottom: 10px; }
      .form_page .essay_form .essay .input {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        background: transparent;
        border: 1px solid #AAAAAA;
        border-radius: 10px;
        /* Toolbar */
        /* Text Area Element */ }
        .form_page .essay_form .essay .input .toolbar {
          width: 100%;
          height: 75px;
          padding: 0 25px;
          color: #3D3D3D;
          background: #F9F9F9;
          border-bottom: 1px solid #AAAAAA;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          /* Fullscreen Button */ }
          .form_page .essay_form .essay .input .toolbar .fullscreen_button {
            cursor: pointer;
            width: 50px;
            height: 50px;
            color: #3D3D3D;
            background: #F9F9F9;
            border: none;
            border-radius: 25px;
            font-size: 1.25em;
            box-shadow: none;
            /* Hover */ }
            .form_page .essay_form .essay .input .toolbar .fullscreen_button:hover {
              background: #EFEFEF; }
        .form_page .essay_form .essay .input textarea {
          width: 100%;
          height: 600px;
          padding: 1rem 1.5rem;
          padding-top: calc(1.5rem + 10px);
          background: transparent;
          color: #3D3D3D;
          border: none;
          border-radius: 0 0 10px 10px;
          font-size: 1.1rem;
          font-family: Lato;
          letter-spacing: 0.03em;
          line-height: 2;
          text-rendering: optimizeLegibility;
          outline: none;
          resize: none;
          transition: 0.15s cubic-bezier(0.34, -0.39, 0.68, 1.38) 0s;
          /* Autofill */ }
          .form_page .essay_form .essay .input textarea:-webkit-autofill, .form_page .essay_form .essay .input textarea:-webkit-autofill:hover, .form_page .essay_form .essay .input textarea:-webkit-autofill:focus, .form_page .essay_form .essay .input textarea:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important; }
    .form_page .essay_form .formatting {
      color: #646464;
      font-size: 1.5em;
      /* Animation */
      /* Text */ }
      .form_page .essay_form .formatting lottie-player {
        width: 450px;
        height: 450px;
        margin-top: -50px; }
      .form_page .essay_form .formatting .text {
        margin-top: -50px; }
    .form_page .essay_form .download {
      color: #3D3D3D;
      font-size: 1.25em;
      text-align: center;
      /* Header */
      /* Buttons */
      /* More Info */ }
      .form_page .essay_form .download .header {
        margin-bottom: 25px;
        font-size: 1.5em;
        font-weight: bold; }
      .form_page .essay_form .download .buttons {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* Button Element */ }
        .form_page .essay_form .download .buttons button {
          margin: 0 10px;
          /* Icon */ }
          .form_page .essay_form .download .buttons button i {
            margin-right: 10px; }
      .form_page .essay_form .download .more_info_button {
        cursor: pointer;
        margin-top: 15px;
        color: #AAAAAA;
        font-size: 0.9em;
        transition: 0.15s ease-in-out;
        /* Hover */ }
        .form_page .essay_form .download .more_info_button:hover {
          color: #0099FF; }
    .form_page .essay_form .controls {
      width: 100%;
      margin-top: 50px;
      /* Back */
      /* Continue */ }
      .form_page .essay_form .controls .back {
        cursor: pointer;
        width: 50px;
        height: 50px;
        color: #AAAAAA;
        background: #FFFFFF;
        border: none;
        border-radius: 25px;
        font-size: 1.25em;
        box-shadow: none;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        /* Hover */ }
        .form_page .essay_form .controls .back:hover {
          background: #EFEFEF;
          color: #646464; }
      .form_page .essay_form .controls .continue {
        cursor: pointer;
        width: 200px;
        height: 50px;
        float: right;
        color: #FFFFFF;
        background: #0099FF;
        border: none;
        border-radius: 25px;
        font-family: Work Sans;
        font-weight: bold;
        font-size: 1em;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
        /* Hover */ }
        .form_page .essay_form .controls .continue:hover {
          background: #0085DD;
          transform: scale(1.05); }

/* ====================================================== Toast ===================================================== */
.toast {
  position: fixed;
  width: auto;
  height: 75px;
  bottom: 50px;
  padding: 40px;
  color: #FFFFFF;
  background: #FFFFFF;
  border-radius: 37.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  transform: translateY(130px);
  transition: transform 0.25s ease-out;
  z-index: 20;
  /* Active */
  /* Error */
  /* Success */
  /* Information */
  /* Icon */
  /* Description */ }
  .toast.active {
    transform: translateY(0); }
  .toast.error {
    background: #FF3F3F; }
  .toast.success {
    background: #5DCE5D; }
  .toast.info {
    color: #646464;
    background: #FFFFFF; }
  .toast i {
    font-size: 2em; }
  .toast .description {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* Title */ }
    .toast .description .title {
      font-weight: bold; }

/* ====================================================== Modal ===================================================== */
.modal {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  /* Active */
  /* Tiny */
  /* Small */
  /* Big */
  /* Full Screen */
  /* Editor */
  /* Center */
  /* Confirm */
  /* Okay */
  /* Background */ }
  .modal.active {
    pointer-events: all;
    opacity: 1;
    /* Background */ }
    .modal.active .background {
      opacity: 1;
      transform: scale(1); }
  .modal.tiny {
    /* Background */ }
    .modal.tiny .background {
      width: 400px;
      height: 250px; }
  .modal.small {
    /* Background */ }
    .modal.small .background {
      width: 500px;
      height: 300px; }
  .modal.big {
    /* Background */ }
    .modal.big .background {
      width: 750px;
      height: 600px; }
  .modal.fullscreen {
    /* Background */ }
    .modal.fullscreen .background {
      width: calc(100% - 50px);
      height: calc(100% - 50px); }
  .modal.editor {
    /* Message */
    /* Text Area */ }
    .modal.editor .message {
      display: none; }
    .modal.editor .input {
      display: block !important; }
  .modal.center {
    /* Header */
    /* Body */
    /* Buttons */ }
    .modal.center .header {
      justify-content: center !important;
      /* Title */ }
      .modal.center .header .title {
        text-align: center !important; }
    .modal.center .body {
      /* Message */ }
      .modal.center .body .message {
        text-align: center !important; }
    .modal.center .buttons {
      justify-content: center !important; }
  .modal.confirm {
    /* Cancel */
    /* Confirm */ }
    .modal.confirm .cancel {
      display: block !important; }
    .modal.confirm .confirm {
      display: block !important; }
  .modal.okay {
    /* Okay */ }
    .modal.okay .okay {
      display: block !important; }
  .modal .background {
    position: relative;
    width: 600px;
    height: 450px;
    color: #3D3D3D;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.15);
    transform: scale(0.5);
    transition: 0.25s ease-in-out 0.25s;
    /* Header */
    /* Body */
    /* Buttons */ }
    .modal .background .header {
      position: relative;
      width: calc(100% - 40px);
      flex: 0 0 80px;
      padding: 20px 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.25em;
      font-weight: bold;
      font-family: Work Sans;
      border-bottom: 1px solid #CCCCCC; }
    .modal .background .body {
      width: 100%;
      flex: 1 1 auto;
      padding: 30px 10px;
      /* Message */
      /* Input */ }
      .modal .background .body .message {
        overflow-y: auto; }
      .modal .background .body .input {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
        background: transparent;
        border: 1px solid #AAAAAA;
        border-radius: 10px;
        /* Toolbar */
        /* Text Area Element */ }
        .modal .background .body .input .toolbar {
          width: 100%;
          height: 75px;
          padding: 0 25px;
          color: #3D3D3D;
          background: #F9F9F9;
          border-bottom: 1px solid #AAAAAA;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
        .modal .background .body .input textarea {
          width: 100%;
          height: calc(100% - 75px);
          padding: 1rem 1.5rem;
          padding-top: calc(1.5rem + 10px);
          background: transparent;
          color: #3D3D3D;
          border: none;
          border-radius: 0 0 10px 10px;
          font-size: 1.1rem;
          font-family: Lato;
          letter-spacing: 0.03em;
          line-height: 2;
          text-rendering: optimizeLegibility;
          outline: none;
          resize: none;
          transition: 0.15s cubic-bezier(0.34, -0.39, 0.68, 1.38) 0s;
          /* Autofill */ }
          .modal .background .body .input textarea:-webkit-autofill, .modal .background .body .input textarea:-webkit-autofill:hover, .modal .background .body .input textarea:-webkit-autofill:focus, .modal .background .body .input textarea:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important; }
    .modal .background .buttons {
      width: 100%;
      flex: 0 0 80px;
      padding: 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      /* Cancel */
      /* Confirm */
      /* Okay */ }
      .modal .background .buttons .cancel {
        display: none;
        margin-right: 20px;
        background: #AAAAAA;
        /* Icon */ }
        .modal .background .buttons .cancel i {
          margin-right: 10px;
          font-size: 1.25em; }
      .modal .background .buttons .confirm {
        display: none;
        /* Icon */ }
        .modal .background .buttons .confirm i {
          margin-right: 10px;
          font-size: 1.25em; }
      .modal .background .buttons .okay {
        display: none;
        /* Icon */ }
        .modal .background .buttons .okay i {
          margin-right: 10px;
          font-size: 1.25em; }

/* ===================================================== Footer ===================================================== */
.footer {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Social Media Links */
  /* Copyright */ }
  .footer .social_links {
    margin: 10px 0;
    padding-inline-start: 0;
    list-style: none;
    /* List Item */ }
    .footer .social_links li {
      display: inline-block;
      margin: 5px;
      font-size: 1em;
      transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      /* Hover */
      /* Link */ }
      .footer .social_links li:hover {
        transform: scale(1.15); }
      .footer .social_links li a {
        color: #0099FF;
        text-decoration: none; }
  .footer .copyright {
    color: #AAAAAA;
    text-align: center;
    /* Link */ }
    .footer .copyright a {
      color: #999999;
      transition: 0.15s ease-in-out;
      /* Hover */ }
      .footer .copyright a:hover {
        color: #646464; }

/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Shake */
@keyframes shake {
  0% {
    transform: translate(1px, 1px); }
  10% {
    transform: translate(-1px, -2px); }
  20% {
    transform: translate(-3px, 0px); }
  30% {
    transform: translate(3px, 2px); }
  40% {
    transform: translate(1px, -1px); }
  50% {
    transform: translate(-1px, 2px); }
  60% {
    transform: translate(-3px, 1px); }
  70% {
    transform: translate(3px, 1px); }
  80% {
    transform: translate(-1px, -1px); }
  90% {
    transform: translate(1px, 2px); }
  100% {
    transform: translate(1px, -2px); } }
