<!doctype html>
<html lang="en">

	{{!-- Header Tag --}}
	<head>

		{{!-- Title --}}
		<title>Page Not Found</title>
		
		{{!-- Meta Tags --}}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

	</head>

	{{!-- Main Body --}}
	<body>
		
		{{!-- HTML Tags From View File --}}
		{{{body}}}

		{{!-- Scripts --}}

	</body>

</html>